/* BASE - Base styles, variables, mixins, etc. */
/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
/* MODULES - Individual style components */
/*Fonts*/
body {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 300; }

p {
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 300; }

h1 {
  font-family: 'Raleway';
  font-size: 60px;
  font-weight: 900; }

h2 {
  font-family: 'Raleway';
  font-size: 80px;
  font-weight: 700; }

h3 {
  font-family: 'Raleway';
  font-size: 40px;
  font-weight: 700; }

h4 {
  font-family: 'Raleway';
  font-size: 17px;
  font-weight: 700; }

h5 {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 300px; }

.logo {
  font-family: 'Pacifico';
  font-size: 50px; }

.navbar-nav {
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.nav li a {
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.btn {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase; }

.btn-services {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 700;
  text-transform: none; }

.reserved {
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 300; }

.logoBottom {
  font-family: 'Pacifico';
  font-size: 25px; }

.signature {
  font-family: 'Raleway';
  font-size: 15px;
  font-weight: 300; }
  .signature span {
    font-weight: 700 !important; }

.post-signature {
  font-family: 'Raleway';
  font-size: 13px;
  font-weight: 300; }

.post-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 20px; }

.post-date {
  font-family: 'Raleway'; }
  .post-date .day {
    font-size: 32px;
    font-weight: 700; }
  .post-date .month {
    font-size: 21px;
    font-weight: 900; }

.form-group {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 15px; }

input:focus, textarea:focus {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 15px; }

/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
/*About section*/
section {
  padding-left: 3%;
  padding-right: 8%; }
  section#about {
    position: relative;
    background: #00c4c4;
    background-size: cover;
    height: 100%;
    color: white; }
    section#about .container {
      position: relative;
      padding-top: 3%;
      padding-bottom: 3%; }
    section#about img {
      width: 90%; }
    section#about .about-content {
      padding-top: 10%;
      padding-bottom: 10%; }
    section#about p br {
      line-height: 250%; }
    section#about h2 {
      padding-bottom: 2%; }

/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
/* "Our services" section */
section#services {
  background: #70bfff;
  position: relative;
  background-size: cover;
  height: 100%; }
  section#services .services-content {
    margin-right: 0;
    padding-left: 100px; }
    section#services .services-content h2 {
      width: 90%;
      color: white;
      position: absolute;
      top: 30%;
      left: 5%;
      vertical-align: middle;
      padding-top: 10%; }
    section#services .services-content img {
      margin-top: 20px; }
  section#services .btn-group-vertical {
    padding-top: 20% !important;
    border-radius: 0 0 0 0; }

/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
/* Gallery section*/
section#gallery {
  background-color: #ffe92f;
  position: relative;
  color: #262626; }
  section#gallery .container {
    padding-left: 6%;
    padding-right: 0%;
    padding-bottom: 100px; }
  section#gallery h2 {
    padding-bottom: 4%; }
  section#gallery p {
    padding-bottom: 7%; }
  section#gallery img {
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(38, 38, 38, 0.47);
    -moz-box-shadow: 1px 2px 5px 0px rgba(38, 38, 38, 0.47);
    box-shadow: 1px 2px 5px 0px rgba(38, 38, 38, 0.47); }

/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
/*Subscribe section*/
section {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 8%;
  padding-right: 8%; }
  section#subscribe {
    position: relative;
    color: #262626;
    background: url("../images/subscribe.png");
    background-color: white;
    background-size: cover;
    background-position: right;
    height: 100%;
    /*placeholder style*/ }
    section#subscribe input[type="email"]::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      padding-left: 3%; }
    section#subscribe input[type="email"]:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      padding-left: 3%; }
    section#subscribe input[type="email"]::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      padding-left: 3%; }
    section#subscribe input[type="email"]:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      padding-left: 3%; }
    section#subscribe input[type="email"] {
      margin-bottom: 40px; }
  section h3 {
    padding-bottom: 2%; }
  section p {
    padding-bottom: 3%; }
  section #subscribeEmail {
    width: 100%;
    height: 55px;
    border-color: #262626;
    border-style: 1px;
    border-style: solid; }

/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
.post {
  display: inline-block;
  position: relative;
  width: 370px;
  height: 310px;
  margin: 20px auto;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat; }
  .post.blog-1 {
    background-image: url("../images/blog-1.png");
    margin-right: 9px; }
  .post.blog-2 {
    background-image: url("../images/blog-2.png");
    margin-right: 9px; }
  .post.blog-3 {
    background-image: url("../images/blog-3.png"); }

.post-date {
  height: 60px;
  width: 60px;
  display: block;
  text-align: center;
  line-height: 1.1em;
  top: 9%;
  left: 7%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(38, 38, 38, 0.502);
  position: absolute;
  border-radius: 5px; }

.post-title {
  text-align: left;
  position: relative;
  padding-top: 55%;
  padding-left: 18px; }

.post-signature {
  text-align: left;
  position: relative;
  padding-top: 55%; }
  .post-signature span {
    text-align: left; }

/*gradient*/
.post-gradient {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), black);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(255, 255, 255, 0)), color-stop(black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), black);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), black);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), black);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), black);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

/*Blog section*/
section#blog {
  background: #b07cf7;
  color: white; }
  section#blog .posts {
    text-align: center; }
section h2 {
  padding-bottom: 3%; }

/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
.btn {
  border-radius: 0 0 0 0;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); }
  .btn a {
    text-decoration: none; }

#freeBtn {
  color: white;
  background-color: #ff6033;
  padding: 11px 18px 11px 18px; }

/*Services buttons*/
.btn-services {
  background: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5) !important;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  vertical-align: middle;
  width: 400px !important;
  height: 100px;
  overflow: hidden; }
  .btn-services a {
    color: #262626;
    display: block;
    float: left;
    padding-top: 15px;
    white-space: normal;
    width: 75%; }
  .btn-services .img-services {
    position: relative;
    display: block;
    float: right;
    width: 55px;
    height: 55px;
    margin-right: 2%;
    background-repeat: no-repeat;
    background-position: center; }

.shopping .img-services {
  background-image: url("../images/shopping-icon.png"); }

.product .img-services {
  background-image: url("../images/product-icon.png"); }

.delivery .img-services {
  background-image: url("../images/delivery-icon.png"); }

.organized .img-services {
  background-image: url("../images/organized-icon.png"); }

.delivery a {
  padding-top: 0; }

/*Gallery button*/
#viewGalleryBtn {
  color: white;
  background: #5585a2;
  position: relative;
  width: 200px; }

/*Subscribe button*/
#subscribeBtn {
  color: white;
  background: #96b92c;
  width: 170px;
  position: relative; }

/*Blog button*/
#viewBlogBtn {
  color: white;
  background-color: #f72b3b;
  position: relative;
  width: 200px; }

.post {
  display: inline-block;
  position: relative;
  width: 370px;
  height: 310px;
  margin: 20px auto;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat; }
  .post.blog-1 {
    background-image: url("../images/blog-1.png");
    margin-right: 9px; }
  .post.blog-2 {
    background-image: url("../images/blog-2.png");
    margin-right: 9px; }
  .post.blog-3 {
    background-image: url("../images/blog-3.png"); }

.post-date {
  height: 60px;
  width: 60px;
  display: block;
  text-align: center;
  line-height: 1.1em;
  top: 9%;
  left: 7%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(38, 38, 38, 0.502);
  position: absolute;
  border-radius: 5px; }

.post-title {
  text-align: left;
  position: relative;
  padding-top: 55%;
  padding-left: 18px; }

.post-signature {
  text-align: left;
  position: relative;
  padding-top: 55%; }
  .post-signature span {
    text-align: left; }

/*gradient*/
.post-gradient {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), black);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(255, 255, 255, 0)), color-stop(black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), black);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), black);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), black);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), black);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
.form-group {
  /*text*/
  /*tel*/
  /*message*/ }
  .form-group input {
    color: white;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 196, 196, 0.502);
    position: relative;
    border-style: none; }
  .form-group input:focus, .form-group textarea:focus {
    background-color: #00c4c4;
    outline: none;
    border-left: 3px solid #355b82;
    opacity: 1;
    font-weight: bold; }
  .form-group textarea {
    color: white;
    width: 100%;
    height: 250px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 196, 196, 0.502);
    position: relative;
    border-style: none;
    resize: none; }
  .form-group input[type="email"]::-webkit-input-placeholder {
    color: white; }
  .form-group input[type="email"]:-moz-placeholder {
    color: white; }
  .form-group input[type="email"]::-moz-placeholder {
    color: white; }
  .form-group input[type="email"]:-ms-input-placeholder {
    color: white; }
  .form-group input[type="text"]::-webkit-input-placeholder {
    color: white; }
  .form-group input[type="text"]:-moz-placeholder {
    color: white; }
  .form-group input[type="text"]::-moz-placeholder {
    color: white; }
  .form-group input[type="text"]:-ms-input-placeholder {
    color: white; }
  .form-group input[type="tel"]::-webkit-input-placeholder {
    color: white; }
  .form-group input[type="tel"]:-moz-placeholder {
    color: white; }
  .form-group input[type="tel"]::-moz-placeholder {
    color: white; }
  .form-group input[type="tel"]:-ms-input-placeholder {
    color: white; }
  .form-group textarea[id="message"]::-webkit-input-placeholder {
    color: white; }
  .form-group textarea[id="message"]:-moz-placeholder {
    color: white; }
  .form-group textarea[id="message"]::-moz-placeholder {
    color: white; }
  .form-group textarea[id="message"]:-ms-input-placeholder {
    color: white; }

/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
section#contact {
  background: url("../images/contact.png");
  position: relative;
  background-size: cover;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
  color: #262626; }
  section#contact h2, section#contact p {
    padding-bottom: 20px; }
  section#contact #my-form {
    padding-top: 15px; }

/* LAYOUT - Page layout styles */
/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
.intro {
  position: relative;
  color: #262626;
  height: 100%;
  background-image: url("../images/home.png");
  background-color: white;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%; }
  .intro .container {
    position: relative;
    height: 100%;
    padding-top: 25%;
    padding-bottom: 30%; }
  .intro h1 {
    padding-bottom: 3%;
    display: inline-block;
    vertical-align: middle;
    float: none; }
  .intro p {
    padding-bottom: 5%;
    display: inline-block;
    vertical-align: middle;
    float: none; }

/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
nav {
  padding-left: 8%;
  padding-right: 8%; }

.nav {
  transition-duration: 1s; }

.navbar .logo {
  color: #262626; }
.navbar #myNavbar .navbar-nav li a {
  color: #262626; }

.navbar-default {
  padding-top: 2%;
  padding-bottom: 2%;
  transition-duration: 1s; }
  .navbar-default .navbar-nav > .active > a {
    outline: none;
    opacity: 1;
    border-top: 3px solid #ff6033;
    transition: all 5s; }

.navbar-fixed-top {
  transition-duration: 1s; }

.navbar-toggle {
  background-color: white; }
  .navbar-toggle .icon-bar {
    background-color: white;
    opacity: 1;
    transition: background-color 0.5 ease-out, opacity 0.5 ease-out; }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: white; }

li.active,
li.active:focus,
li.active:hover,
li.active:active {
  outline: none;
  opacity: 1;
  border-top: 3px solid #ff6033; }

li.active a,
li.active:focus a,
li.active:hover a,
li.active:active a {
  outline: none;
  opacity: 1;
  border-top: 3px solid #ff6033; }

html, body {
  overflow-x: hidden; }

@media (min-width: 768px) {
  .navbar-default {
    color: #262626;
    padding: 25px 0 25px;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none; }
    .navbar-default .navbar-nav > .active > a {
      background-color: transparent;
      transition: all 5s;
      outline: none;
      opacity: 1;
      border-top: 3px solid #ff6033; }

  .navbar-default.navbar-shrink {
    color: #262626;
    padding: 10px 0; }

  .open .dropdown-toggle {
    color: #262626;
    background-color: #e6e6e6;
    border: none;
    outline: none; }

  .navbar-collapse {
    color: #262626;
    text-decoration: none; }

  .navbar-toggle {
    background-color: #262626;
    text-decoration: none; }
    .navbar-toggle .icon-bar {
      background-color: white; }
    .navbar-toggle:hover, .navbar-toggle:focus {
      text-decoration: none;
      background-color: #262626; }

  .nav li a {
    letter-spacing: 1px;
    color: #262626;
    position: relative;
    height: 100%;
    width: 100%; }
    .nav li a:hover, .nav li a:focus {
      color: #262626;
      transition: all 5s;
      text-decoration: none; } }
/*body, sections in small devices*/
@media (max-width: 768px) {
  body h2 {
    font-size: 60px; }
  body p {
    text-align: center; }

  header {
    padding-top: 30px; }
    header .container {
      text-align: center; }
      header .container h1 {
        text-align: center;
        font-size: 50px; }
      header .container p {
        text-align: center; }

  section#about h2 {
    text-align: center; }
  section#services .btn-services {
    height: 80px;
    width: 250px !important; }
    section#services .btn-services a {
      font-size: 15px;
      float: left;
      text-align: center; }
    section#services .btn-services .img-services {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      float: right;
      -webkit-background-repeat: no-repeat;
      -moz-background-repeat: no-repeat;
      -o-background-repeat: no-repeat;
      background-repeat: no-repeat;
      -webkit-background-position: center;
      -moz-background-position: center;
      -o-background-position: center;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
  section .services-content {
    text-align: center; }
    section .services-content h2 {
      color: white;
      font-size: 50px;
      padding-bottom: 100px;
      top: 50%;
      left: 50%;
      margin-top: -17%; }
    section .services-content img {
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      margin-left: -20%; }
  section#gallery .container {
    padding-bottom: 40px; }
  section#subscribe .layer {
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    padding: 0 0 0 0;
    margin: 0 0 0 0; }
  section#subscribe .container {
    text-align: center; }
  section#subscribe h3 {
    text-align: center; }
  section#subscribe p {
    text-align: center; }
  section#subscribe input[type='email'] {
    margin-bottom: 20px; }
  section#blog .post {
    display: inline-block;
    position: relative;
    width: 230px;
    height: 180px;
    margin: 20px auto;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 0; }
  section#blog .post-date {
    height: 40px;
    width: 40px;
    display: block;
    text-align: center;
    line-height: 0.8em;
    top: 5%;
    left: 7%;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: rgba(38, 38, 38, 0.502);
    position: absolute;
    border-radius: 5px; }
    section#blog .post-date .day {
      font-size: 24px; }
    section#blog .post-date .month {
      font-size: 15px; }
  section#blog .post-title {
    text-align: left;
    position: relative;
    padding-top: 35%;
    padding-left: 10px;
    font-size: 15px; }
  section#blog .post-signature {
    text-align: left;
    position: relative;
    padding-top: 35%;
    font-size: 10px; }

  footer .reserved {
    font-size: 12px;
    padding-bottom: 20px; }
  footer .logoBottom {
    text-align: center; }
  footer .signature {
    text-align: center; } }
/* COLORS */
/*Fonts*/
/*Backgrounds*/
/*Buttons*/
footer {
  background: #262626;
  position: relative; }
  footer .container {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #b9b9b9; }
    footer .container .reserved {
      padding-top: 7px; }
    footer .container .signature {
      padding-top: 7px; }
      footer .container .signature span {
        color: #ff2b58; }

/*# sourceMappingURL=main.css.map */
