/* COLORS */

/*Fonts*/
$dark-text: rgb(38, 38, 38);
$grey-text: rgb(185, 185, 185);
$bright-text: rgb(255, 255, 255);
$overline-color: rgb(255, 96, 51);
$span-color: rgb(255, 43, 88);

/*Backgrounds*/
$light-bg: rgb(255, 255, 255);
$about-bg: rgb(0, 196, 196);
$services-bg: rgb(112, 191, 255);
$gallery-bg: rgb(255, 233, 47);
$blog-bg: rgb(176, 124, 247);
$date-bg: rgba(38, 38, 38, 0.502);
$form-input-bg: rgba(0, 196, 196, 0.502);
$form-focus: rgba(0, 196, 196, 1);
$footer-bg: rgb(38, 38, 38);
$hover-color: rgba(255, 96, 51, 0.2);

/*Buttons*/
$orange-btn: rgb(255, 96, 51);
$white-btn: rgb(255, 255, 255);
$blue-btn: rgb(85, 133, 162);
$green-btn: rgb(150, 185, 44);
$pink-btn: rgb(247, 43, 59)

